.takenotethree{
    border: 1px solid black;
  height:200px;
    width: 22% ;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.takenotethree1{
    /* border: 1px solid black; */
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.takenotethree11{
    /* border: 1px solid black; */
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.takenotethree111{  
    outline: none;
    border: none; 
    height: 90%;
    width: 100%;
}
.takenotethree12{
    /* border: 1px solid black; */
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.takenotethree2{
    /* border: 1px solid black; */
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.takenotethree21{
    outline: none;
    border: none;
    height: 95%;
    width: 100%;   
}

.takenotethree3{
    /* border: 1px solid black; */
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.takenotethree31{
    /* border: 1px solid black; */
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
.takenotethree32{
    /* border: 1px solid black; */
    height: 95%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
